@page
@model MumbohTodo.Pages.NewModel
@{
}

<article>
    <header>
        <h1>ToDo</h1>
        <input id="OfflineSave" type ="button" value = "Offline Save"/>
    </header>
    <section>
        <h3>ToDo Items</h3>
        <p>
            Display all the ToDo Item in the section
        </p>
    </section>
    
</article>
